<div class="nav_container mt-auto" id="footer">
    <div class="d-flex align-items-center justify-content-between">
        <h5>ERP Toko Harapan Jaya</h5>
        <a class="btn btn-outline-light my-2" href="#header"><i class="fa-solid fa-arrow-up"></i>&ensp;Kembali ke Atas</a>
    </div>
    <div class="heading_container border-top border-light py-3">
        <a class="navbar-brand">Dashboard</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn active" onclick="get_page('dashboard')">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" onclick="get_page('inventory')">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" onclick="get_page('sales')">Sales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" onclick="get_page('purchasing')">Pembelian</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" onclick="get_page('admin_dashboard')">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" onclick="get_modal('logout')">Logout</a>
            </li>
        </ul>
    </div>
</div>