{% load humanize %}
<div class="heading_container">
    <h3>{{ header }}</h3>
</div>
<hr>
<table class="table table-striped table-bordered border-dark table-hover w-100 dt_table">
        <thead class="table-dark">
            <th>No</th>
            <th>Pengiriman</th>
            <th>Tanggal<text class="min"> & Waktu</text></th>
            <th class="min">Admin</th>
            <th class="action_cell">Action</th>
        </thead>
        <tbody>
            {%  for record in riwayat %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.pengiriman }}</td>
                    <td>{{ record.tanggal }}<text class="min">, {{ record.waktu }}</text></td>
                    <td class="min">{{ record.admin.username }}</td>
                    <td class="action_cell">
                        <button onclick="get_modal('get_barang_masuk', {{ record.pengiriman_id }}, 2)" class="btn btn-primary btn-sm"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>